{% extends 'layout.html.twig' %}

{% block bodyclass %}
class="off-canvas-sidebar header-filter" style="background-image: url('assets/img/background.jpg'); background-size: cover; background-position: top center; background-attachment: fixed"
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-full-page">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="card card-timeline card-plain">
                        <div class="card-body">
                            <ul class="timeline">
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success">
                                        <i class="material-icons">work</i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Experienced Technical Product Owner Cloud Platform</h4>
                                            <a href="https://www.mediamarktsaturn.com/" target="_blank" class="badge badge-pill badge-success">@ MediaMarktSaturn Technology GmbH</a>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Experienced Technical Product Owner Cloud Foundation (part of Cloud Platform)<br/>
                                                Responsible for our internal Terraform-IaC-Framework within MMST. We provide an abstraction layer between MMS-Product Teams and the Google Cloud. Full automated Framework to provision IaaS-, PaaS and Serverless-Services.
                                            </p>
                                            <p>Part of the CCoE within MMST</p>
                                            <p>
                                                Google Cloud Platform certified - Associate Cloud Engineer<br/>
                                                Google Cloud Platform certified - Professional Cloud Architect
                                            </p>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> February 2019 - NOW
                                        </h6>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="timeline-badge success">
                                        <div class="timeline-badge success">
                                            <i class="material-icons">code</i>
                                        </div>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Freelance DevOps-Engineer</h4>
                                            <a href="https://rauchfuss.io/" target="_blank" class="badge badge-pill badge-success">@ rauchfuss.io</a>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Experience as Freelance DevOps-Engineer, responsible for a HA-REST-API serving thousands of users on a daily rate.</p>
                                            <p>Experience in Microservice-Architectures, cloud-native Applications.</p>
                                            <p>PHP, NodeJS, Python, GCP, AWS</p>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> November 2011 - NOW
                                        </h6>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge secondary">
                                        <i class="material-icons">work_outline</i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Product Owner IT</h4>
                                            <a href="http://tech.prosiebensat1.com/" target="_blank" class="badge badge-pill badge-default">@ ProSiebenSat.1 Technology Solutions GmbH</a>
                                        </div>
                                        <div class="timeline-body">
                                            <p>PO for the Rights & License Management- Solution @ Red Arrows Studios International</p>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> August 2018 - January 2019
                                        </h6>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="timeline-badge secondary">
                                        <i class="material-icons">work_outline</i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Product Owner Operations</h4>
                                            <a href="https://www.limango.de/" target="_blank" class="badge badge-pill badge-default">@ limango GmbH</a>
                                        </div>
                                        <div class="timeline-body">
                                            <p>PO for Logistics, Finance and Customer Service. Direct Report to the CFO of limango GmbH.</p>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> July 2017 - July 2018
                                        </h6>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge secondary">
                                        <i class="material-icons">work_outline</i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>IT Team Manager: Corporate Central Systems</h4>
                                            <a href="https://www.mcdonalds.com/de/de-de.html" target="_blank" class="badge badge-pill badge-default">@ McDonald's Deutschland LLC</a>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Responsible for all finance-based and business- internal Systems within McDonald's Deutschland.</p>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> June 2015 - June 2017
                                        </h6>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="timeline-badge secondary">
                                        <i class="material-icons">work_outline</i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Senior Software Engineer</h4>
                                            <a href="https://www.performgroup.com/" target="_blank" class="badge badge-pill badge-default">@ Perform Media Deutschland</a>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> March 2013 - May 2015
                                        </h6>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge secondary">
                                        <i class="material-icons">work_outline</i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Software Developer</h4>
                                            <a href="https://www.icrossing.com/" target="_blank" class="badge badge-pill badge-default">@ iCrossing GmbH</a>
                                        </div>
                                        <h6>
                                            <i class="ti-time"></i> May 2011 - February 2013
                                        </h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

