<h1>Hi {{ name }}!</h1>
<p>
    Thank you for your request. I will get back to you as soon as possible. <br />
    Below your message to me.
</p>

<hr />

<p>Your name: {{ name }}</p>
<p>Your email: {{ email.to[0].address }}</p>
<p>
    Your Message: <br/>
    {{ message }}
</p>