<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            <blockquote class="blockquote text-right">
                <p class="mb-0">
                    <i class="material-icons">copyright</i> 2020,
                    made with <i class="material-icons">favorite</i> and symfony {{ symfony.version }}
                </p>
                <footer class="blockquote-footer">by Patrick Rauchfuss</footer>
            </blockquote>
        </div>
    </div>
</footer>