{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">rauchfuss.io</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item {% if current_path == "main" %}active{% endif %}">
                    <a href="{{ path('main', {'format' : 'html'}) }}" class="nav-link">
                        <i class="material-icons">home</i> Home
                    </a>
                </li>
                <li class="nav-item {% if current_path == "cv" %}active{% endif %}">
                    <a href="{{ path('cv', {'format' : 'html'}) }}" class="nav-link">
                        <i class="material-icons">work</i> CV
                    </a>
                </li>
                <li class="nav-item {% if current_path == "imprint" %}active{% endif %}">
                    <a href="{{ path('imprint', {'format' : 'html'}) }}" class="nav-link">
                        <i class="material-icons">short_text</i> Legal Disclosure
                    </a>
                </li>
                <li class="nav-item {% if current_path == "contact" %}active{% endif %}">
                    <a href="{{ path('contact', {'format' : 'html'}) }}" class="nav-link">
                        <i class="material-icons">mail</i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>