{% extends 'base.html.twig' %}

{% block body %}
    <body {% block bodyclass %}{% endblock %}>
        {% include('header.html.twig') %}

        {% block content %}{% endblock %}

        {% include('footer.html.twig') %}
        {% include('javascripts.html.twig') %}
    </body>
{% endblock %}