{% extends 'base.html.twig' %}

{% block body %}
    <body {% block bodyclass %}{% endblock %}>
        {% include('navigation.html.twig') %}

        {% block content %}{% endblock %}

        {% include('javascripts.html.twig') %}
    </body>
{% endblock %}